.App {
  text-align: center;
  color: black;
  background-color: black;
  height: 100vh;
}

.header{
  display: flex;
  justify-content: space-around;
  background-color: rgb(26, 237, 15);
}
h1{
  color: white;
}